<nav class="col-md-2 d-none d-md-block bg-light sidebar">
    <div class="sidebar-sticky">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" href="/admin/dashboard">
                    <i class="fas fa-tachometer-alt"></i> Tableau de bord
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/users">
                    <i class="fas fa-users"></i> Utilisateurs
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/contacts">
                    <i class="fas fa-address-book"></i> Contacts
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/pages">
                    <i class="fas fa-file-alt"></i> Pages
                </a>
            </li>
        </ul>
    </div>
</nav>
